# global find ignore for sublime text
# -node_modules/*,-css/build/*,-js/build/*,-svg/build/*,-resources/*,-.sass-cache/*,-style.css,-*.min.*

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.map
.DS_Store

pids
logs
results

npm-debug.log
node_modules

*.sass-cache

_/resources/**

svg-defs-demo.html
