<div *ngIf="viewModelService.commentList$ | async as commentList">

  <ngwp-comment-form *ngIf="rootCommentFormOpen" [post]="post"></ngwp-comment-form>

  <ol id="comments" *ngIf="commentList.comments as comments">
    <hr/>
    <ng-template #recursiveList let-comments>
      <li *ngFor="let comment of comments">
        <h6>{{comment.author_name}} at {{comment.date | date: 'MMM d, y, h:mm a' }}</h6>
        <p [innerHTML]="comment.content.rendered"></p>
        <ngwp-comment-form *ngIf="comment.formOpen" [post]="post" [parent]="comment"></ngwp-comment-form>
        <button *ngIf="!comment.formOpen" (click)="openCommentReply(comment)">Reply!</button>
        <button *ngIf="comment.formOpen" (click)="closeCommentReply(comment)">Cancel</button>
        <ul *ngIf="comment.children?.length > 0">
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: comment.children }"></ng-container>
        </ul>
      </li>
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: comments }"></ng-container>
  </ol>

  <nav *ngIf="commentList.commentsPageCount?.length > 1">
    <span>Comments Pagination</span>
    <ul>
      <li 
        *ngFor="let count of commentList.commentsPageCount; let i = index" 
        [routerLink]="'/' + post.slug + '/comments-page/' + (i+1)"
        >
        {{i+1}}
      </li>
    </ul>
  </nav>

</div>
