// COLORS //

.highlighted_Colors() {
  // background-color: var(--textHighlightBg_ThemeColor);
  // color: var(--textHighlightFg_ThemeColor);
}

:root, .light-color-theme {
    --fg_Color: black;
    --bg_Color: white;
}

.dark-color-theme {
    --fg_Color: white;
    --bg_Color: black;
}