@s1:  1px;
@s2:  2px;
@s3:  3px;
@s5:  6px  - 1;
@s9:  10px - 1;
@s11: 12px - 1;
@s17: 18px - 1;
@s23: 24px - 1;
@s35: 36px - 1;
@s41: 42px - 1;

@icon_Size: 11px;
@focusBorder_Size: @s2;
@borderSm_Radius: @s3;
@border_Radius: @s5;
@horizontal_Padding: @s11;
@horizontal_PaddingLg: @s35;
@vertical_Padding: @s5;

.inlineBackground_Spacing() {
	@top:    0.25em;
	@bottom: 0.1em;
	@sides:  0.4em;

  padding: @top @sides @bottom;
  margin-bottom: -@bottom;
  margin-top: -@top;
}
