@s1: 1px;
@s3: 3px;
@s6: 6px;
@s12: 12px;
@s18: 18px;
@s24: 24px;
@s36: 36px;

@icon_Size: 11px;

.inlineBackground_Spacing() {
  padding: 0.15em 0.4em 0.1em;
  margin-bottom: -0.1em;
  margin-top: -0.15em;
}