.button(){
	border: none;
	background-color: none;
	color: var(--fg_Color);
	.transition(color);

	font: inherit;

	position: relative;
	z-index: 0;
	&:before, &:after{
		// content: '';
		.absolute(0);
		.transition(opacity);
		transition-duration: inherit;
		z-index: -1;
		border-radius: @borderSm_Radius;
		background-clip: border-box;
	}

	&:before{
		background-image: var(--accent_Gradient);
		opacity: 0;
	}
	&:after{
		background-color: var(--bgOverlay1_Color);
		opacity: 1;
		border: @focusBorder_Size solid transparent;
	}

	&:hover:not(:disabled){
		color: var(--fgStrong_Color);
		transition-duration: @hover_Duration;
		&:before{
			opacity: var(--bgHover_Opacity);
		}
		&:after{
			opacity: 0;
		}
	}

	&:active:not(:disabled){
		color: var(--fgStrong_Color);
		transition-duration: @active_Duration;
		&:before{
			opacity: 1;
		}
		&:after{
			opacity: 0;
		}
	}

	&:focus{
		color: var(--fgStrong_Color);
		&:after{
			border-color: var(--accent_Color);
		}
	}

	&:disabled{
		color: var(--fgDisabled_Color);
		&:before{
			opacity: 0;
		}
		&:after{
			background-color: initial;
			border: @s1 solid var(--bgOverlay1_Color);
		}
	}

	&:before{        content: ''; }
	&.emhasis:after{ content: ''; }

	&.selected{
		color: var(--fgStrong_Color);
	}

}

button,
.button
{
	.button();
	padding: @s5 @horizontal_Padding;
}
