// SELECT //

.select{
	appearance: none;
	.input();
	padding: @s5 @s3 @s5 @s9 ;
	.iconBg_Layout();
	background-image: var(--icon_Pointer_Down_IconBg);
	background-position: right @icon_Size center;
	padding-right: 2 * @s5 + @s35;
}

select { .select(); }
