// INPUT BUTTONS //

.input_Sub_Button(
	@svgName;
	@height: @s24;
	@width:  @s16;
	@iconSize: @icon_Size;
) {
	appearance: none;
	width: @width;
	height: @height;
	margin: 0 0 0 @s1;
	padding: 0 (@width/2); // to squeeze down original content
	box-sizing: border-box;
	display: block;
	border-radius: @borderSm_Radius;
	cursor: pointer;
	align-self: stretch;
	.iconBg_Layout(@iconSize);
	background-image: ~'var(--@{svgName}_IconBg)';
	
	.transition(opacity background-color);
	background-color: var(--bgOverlay1_Color);
	opacity: 1;
	&:focus{
		opacity: .5;
	}
	&:hover{
		background-color: var(--accentWeakFade2_Color);
		opacity: 1;
		transition-duration: @hover_Duration;
	}
	&:active{
		background-color: var(--accentWeak_Color);
		opacity: 1;
		transition-duration: @active_Duration;		
	}

}

input{

	// display: flex;

	&::-webkit-inner-spin-button         { .input_Sub_Button(icon_Pointers_Vertical); }

	&::-webkit-calendar-picker-indicator { .input_Sub_Button(icon_Pointer_Down); }
	&::-ms-expand                        { .input_Sub_Button(icon_Pointer_Down); border: 0; }

	&::-webkit-clear-button              { .input_Sub_Button(icon_X); }
	&::-webkit-search-cancel-button      { .input_Sub_Button(icon_X); }
	&::-ms-clear                         { .input_Sub_Button(icon_X); }

	// &.hideClear{
	// 	&::-webkit-clear-button          { display: none; }
	// 	&::-webkit-search-cancel-button  { display: none; }
	// 	&::-ms-clear                     { display: none; }
	// } 
	// &.hideSpin{
	// 	&::-webkit-inner-spin-button     { display: none; }
	// }
	// &.hideArrow{
	// 	&::-webkit-calendar-picker-indicator { display: none; }
	// 	&::-ms-expand { display: none; }
	// }
 
}