// INPUT BUTTONS //

input{

	// &::-webkit-inner-spin-button         { .input_Button(Input_Spinner); }

	// &::-webkit-calendar-picker-indicator { .input_Button(Arrow_PointerDownSm, @iconSize: @icon_SizeSm); }
	// &::-ms-expand                        { .input_Button(Arrow_PointerDownSm, @iconSize: @icon_SizeSm); border: 0; }

	// &::-webkit-clear-button              { .input_Button(XSm, @iconSize: @icon_SizeSm); }
	// &::-webkit-search-cancel-button      { .input_Button(XSm, @iconSize: @icon_SizeSm); }
	// &::-ms-clear                         { .input_Button(XSm, @iconSize: @icon_SizeSm); }

	// &.hideClear{
	// 	&::-webkit-clear-button          { display: none; }
	// 	&::-webkit-search-cancel-button  { display: none; }
	// 	&::-ms-clear                     { display: none; }
	// } 
	// &.hideSpin{
	// 	&::-webkit-inner-spin-button     { display: none; }
	// }
	// &.hideArrow{
	// 	&::-webkit-calendar-picker-indicator { display: none; }
	// 	&::-ms-expand { display: none; }
	// }
 
}