// RADIO AND CHECKBOX INPUT //

.input_RadioCheckbox{
	-webkit-appearance: none; // not -moz-
	.input(@isButton:true);
	height: @s23;
	width:  @s23;	
	vertical-align: bottom; // ???
	margin: @s1;
	&:checked{
		background-color: var(--accentWeak_Color);
	}
	&:hover{
		background-color: var(--accentWeakFade2_Color);
	}
	&:active{
		background-color: var(--accentWeakDark_Color);
	}
	background-color: var(--bgOverlay2_Color);
}

.input_Radio{
	.input_RadioCheckbox();
  border-radius: 99px;
}

.input_Checkbox{
	.input_RadioCheckbox();
}

input[type="checkbox"] { .input_Checkbox(); }
input[type="radio"]    { .input_Radio(); }

input[type="checkbox"],
input[type="radio"]
{
	&::-ms-check{
		// display: none;
		color: transparent;
		background: transparent;
	}
}
