// FILE INPUT //
// please never use this element in its native appearance

.input_FileButton {
		.button();
    border: 0;
    height: 100%;
    margin: 0;
    outline: 0;
}

input[type="file"] {
	// .input();
	display: block;
	box-sizing: content-box;
	
	&::-webkit-file-upload-button {
			.input_FileButton()
	}
	&::-ms-browse {
			.input_FileButton()
	}
}
