// BUTTONS //

.input(
	@isButton: false
){
	border-radius: @border_Radius;
	font: inherit;
	display: inline-flex;
	height: @s32;
	border: @focusBorder_Size solid transparent;

	color: var(--fg_Color);
	background-color: var(--bgOverlay1_Color);
	.transition(background-color color border-color);

	.states_Output() when (@isButton){
		&:hover{
			color: var(--fgStrong_Color);
			background-color: var(--accentWeakFade_Color);
			transition-duration: @hover_Duration;
		}
		&:active{
			color: var(--fgStrong_Color);
			border-color: var(--accentWeak_Color);
			background-color: var(--accentWeak_Color);
			transition-duration: @active_Duration;
		}
	}
	.states_Output() when (default()){
		&:hover:not(:focus):not(:disabled){
			color: var(--fgStrong_Color);
			background-color: var(--accentWeakFade_Color);
			transition-duration: @hover_Duration;
		}
		&:active{
			color: var(--fgStrong_Color);
			border-color: var(--accentWeak_Color);
			transition-duration: @active_Duration;
		}
	}
	.states_Output();

	&:focus{
		border-color: var(--accent_Color);
		color: var(--fgStrong_Color);
	}
	
	&:disabled:disabled{
		color: var(--fgDisabled_Color);
		background-color: initial;
		border: @s1 solid var(--bgOverlay1_Color);
	}

}


input[type="submit"],
input[type="button"],
input[type="reset"]{
	.input(@isButton:true);
	padding: @s6 @horizontal_Padding;
}

input{
	.input();
}

