// LINKS //

.a() {
	// .inlineBackground_Spacing();

	.button();

	color: var(--accentWeakDark_Color);
	&:after{ content: none; }

}

.a-inline-block() {
    @inlineBackground_Spacing: 0.4em;
    display: inline-block;
    padding: 0 @inlineBackground_Spacing;
    margin: 0 -(@inlineBackground_Spacing);
}

a {
    .a();
    .a-inline-block();
}