<nav class="nav">
	<button
		*ngFor="let item of items"
		[ngClass]="item.classes"
		[routerLink]="parseRouterLink(item.url)"
		routerLinkActive="selected"
		class="nav-item"
		>
		<span>
			{{item.title}}
		</span>
		<div class="selection-bar"></div>
	</button>
	<!--
	<ul>
    <ng-template #recursiveList let-menu>
      <li *ngFor="let item of menu">
        <a [class]="item.classes" [routerLink]="parseRouterLink(item.url)">{{item.title}}</a>
        <ul *ngIf="item.children.length > 0">
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
        </ul>
      </li>
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: menu }"></ng-container>
	</ul>
	-->
	<p *ngIf="error">
		{{error}}
	</p>
</nav>
