@import (reference) '../../style/vars/sizes.vars.less';
@import (reference) '../../style/utils/all.util.less';

:host{
	display: block;
	position: relative;
}

.nav{
	display: flex;
}

.nav-item.selected{
	// color: rebeccapurple;
}


:host(.right) {
	@totalHorizontal_Spacing: @horizontal_PaddingLg;
	@buttonHorizontal_Margin: @s17;

	.nav{
		flex-direction: column;
		align-items: flex-end;
		padding: @buttonHorizontal_Margin;
	}
	.nav-item{
		@buttonHorizontal_Padding: @totalHorizontal_Spacing - @buttonHorizontal_Margin;
		padding-right: @buttonHorizontal_Padding;
		padding-left:  @buttonHorizontal_Padding;
		margin-bottom: @s1;
	}
	.selection-bar{
		width: @s1;
		.absolute(@s5 -(@buttonHorizontal_Margin + @s1) @s5 null);
		background-color: currentColor;

		opacity: 0;
		.transition(opacity);
	}
	.selected .selection-bar {
		opacity: 1;
	}
}


