@import (reference) '../../style/utils/all.util.less';
@import (reference) '../../style/vars/sizes.vars.less';
@import (reference) '../../style/vars/typography.vars.less';

:host{
	display: block;
}

.post{}
.post-date{
	.metaSm_Type();
	color: var(--fgStrong_Color);
}
.post-hero{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	background-color: transparent;
}
.post-img{
	.absolute(0);
	object-fit: cover;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: .4;
}
.post-title{}
.post-tags{}
.post-tag{
	.metaSm_Type();
	margin: 0 @s1 @s1 0;
	// padding: 0 @horizontal_PaddingMd - @s1;
}
.post-content{}
.post-button{
	.meta_Type();
	display: flex;
	justify-content: space-between;
	padding: @s11;
}

.set-item{
	padding-right: @horizontal_PaddingMd;
	padding-left: @horizontal_PaddingMd;
	&.post-tags{
		padding: @s1 @horizontal_PaddingMd - @horizontal_Padding - @s1 0;
	}
}

:host(:not(.show-full)) {
	.post-hero{
		position: relative;
		height: @s35*7;
	}

}


:host(.show-full) {
	.post-header{
		position: relative;
		height: 90vh;
		display: flex;
		flex-direction: column;
	}
	.post-hero{
		flex: 1 0 70%;
	}
	.post-img{
		// .absolute(0 0 null 0);
	}
	.post-header-last-item{
		display: none;
	}
	.post-hero, .post-tags, .post-date{
		margin: 0 @horizontal_PaddingMd*3;
	}
	.post-date{
		margin-top: @s17;
		height: @button_Size;
		display: flex;
		align-items: center;
	}
	.post-content{
		background-color: var(--bg_Color);
	}
}
