// -vars-sanitize.scss
// vars for sanitize.scss // load before that

/*

// specify the core styles of all elements
$background-repeat: no-repeat;

// specify the root styles of the document
$root-background-color: #ffffff;
$root-box-sizing: border-box;
$root-color: #000000;
$root-cursor: default;
$root-font-size: 100%;
$root-line-height: 1.5;
$root-font-family: sans-serif;

// specify the text decoration of anchors
$anchor-text-decoration: none;

// specify the alignment of media elements
$media-element-vertical-align: middle;

// specify the background color of form elements
$form-element-background-color: transparent;
$form-element-color: inherit;

// specify the minimum height of form elements
$form-element-min-height: 1.5em;

// specify the font family of code elements
$monospace-font-family: monospace;

// specify the list style of nav lists
$nav-list-style: none;

// specify the font size of small elements
$small-font-size: 75%;

// specify the border styling of tables
$table-border-collapse: collapse;
$table-border-spacing: 0;

// specify the resizability of textareas
$textarea-resize: vertical;

// specify the background color, font color, and drop shadow of text selections
$selection-background-color: #b3d4fc;
$selection-color: #ffffff;
$selection-text-shadow: none;

*/
