// parallax.scss
// split this later?

// --------------------------------------------------------------- MAGIC PARALLAX
// http://codepen.io/scottkellum/pen/bHEcA

$parallax-perspective : 1 !default;
$parallax-ios         : false !default;
$perspective-origin   : center center;

@mixin parallaxContainer (
	$perspective        : $parallax-perspective,
	$parallax-ios       : $parallax-ios
	// $perspective-origin : $perspective-origin
	) {
	perspective: $perspective * 1px;
	// perspective-origin: $perspective-origin;

	transform: translateZ(0);
	// Allows for smooth scrolling but disables parallax effects.
	@if $parallax-ios == false {
		-webkit-overflow-scrolling: touch;
	}
}
*{
	transform-style: preserve-3d;
}

@mixin parallax(
	$distance    : 0,
	$perspective : $parallax-perspective
	) {
	transform:
		translateZ($distance * $perspective * 1px)
		scale(abs($distance - 1))
	;
	// z-index: $distance * 1000;
}
