// cover.scss

$textPADDING: fib(9);

.cover{
	height: 40vh;
	width: 100%;
	position: relative;
	z-index: -1;
	&__hero{
		@include parallax(-.2);
		@include absolute(0);
		height: 100%;
		width: 100%;
		@include transition(transform);
		&Wrapper{
			display: block;
			box-shadow: $boxShadow;
			overflow: hidden;
			height: 100%;
			width: 100%;
			border-radius: $borderRADIUS;
			position: relative;
			background: black;
		}
		&Img{
			object-fit: cover;
			display: block;
			width: 100%;
			height: 100%;
			opacity: 0.7;
			@include absolute(0);
			&--blur{
				filter: blur(6px);
				opacity: 0;
			}
			&--list{ }
			&--full{ }
		}
	}
	&__title{
		@include absolute(null 0 20%);
		padding: 0 $textPADDING;
		&, &Link{
			display: block;
			color: white;
			line-height: 1em;
			letter-spacing: 0;
			@include transition(transform transform-origin);
			transform-origin: bottom;
			// perspective-origin: 0 0;
		}
	}
}

.post--full{ // a page or post in full form
	border-radius: $borderRADIUS;
	.cover{
		height: calc(100vh + #{$mainContentINSET * 2});
		margin-bottom: (-$mainContentINSET);
		width: 100%;
		&__hero{
			@include parallax(-1);
			&Wrapper{
			}
		}
		&__title{
			// transform: translateZ(0);
			&Link{
				@include parallax(-0.5); // TODO
			}
			right: $mainContentINSET;
			left:  $mainContentINSET;
			font-size: fib(10);
		}
	}
}

.post--list{ // posts in a list
	.cover{
		&__title{
			font-size: fib(9);
			&Link{
				@include parallax(-0.1); // TODO
			}
		}
	}
}

.post--single{ // a post (not page) in full form
	.cover{ }
}

.post--page{ // a page (not post) in full form
	.cover{ }
}
