// cover.scss

.cover{
	@include parallax(-1);
	// transform-origin: 50vw 50vh;
	height: calc(100vh + #{$bleed});
	width: 100%;
	// max-width: 100vw;
	position: relative;
	border-top-left-radius:  $borderRADIUS;
	border-top-right-radius: $borderRADIUS;
	overflow: hidden;

	&__hero{
		@include absolute(0);
		object-fit: cover;
		height: 100%;
		width: 100%;
	}

}
