// nav.scss

#navOpen{
	z-index: index($z-of, #navOpen);
	@include fixed(0 null null 0);
	&:checked ~ #header{
		display: block;
	}
}

#header{
	z-index: index($z-of, #header);
	@include fixed(0);
	display: none;
}

.mainWrapper{
	@include parallaxContainer();
	overflow-y: auto;
	overflow-x: hidden;
	z-index: index($z-of, #mainWrapper);
	@include fixed(0);
}

.cover{
	@include parallax(-0.5);
	transform-origin: 50vw 50vh;
	height: 80vh;
	max-width: 100%;
	position: relative;

	&__hero{
		@include absolute(0);
		.wp-post-image{
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}

}
