// postItem.scss

.postItem{
	margin-bottom: 60px; //
	&__hero{
		height: 60vh;
		width: 100%;
		position: relative;
		&Translate{
			@include parallax(-.1);
			@include absolute(0);
			height: 100%;
			width: 100%;
		}
		&Wrapper{
			overflow: hidden;
			height: 100%;
			width: 100%;
			border-radius: $borderRADIUS;
		}
		&Img{
			object-fit: cover;
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}
