// postItem.scss

.postItem{
	margin-bottom: 60px;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	color: white;
	position: relative;
	&__hero{
		height:40vh;
		width: 100%;
		position: relative;
		z-index: -1;
		&Translate{
			@include parallax(-.05);
			@include absolute(0);
			height: 100%;
			width: 100%;
		}
		&Wrapper{
			box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
			overflow: hidden;
			height: 100%;
			width: 100%;
			border-radius: $borderRADIUS;
			position: relative;
			background: black;
		}
		&Img{
			object-fit: cover;
			display: block;
			width: 100%;
			height: 100%;
			&--blur{
				filter: blur(10px);
			}
			&--focus{
				@include transition(opacity);
				@include absolute(0);
			}
		}
	}
	&__title{
		font-size: fib(9);
		@include absolute(null);
	}
	&.growJS{
		color: red;
		transform-style: flat;
		.postItem{
			&__heroTranslate{
				@include fixed((-$bleed));
				transform: translateZ(0);
			}
		}
	}
}
