// structure.scss

html, body{
  height: 100%;
  width:  100%;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #aaa;
}

$mainNavWIDTH: fib(13);
$drawerWIDTH: 90%;
$mainContentSCALE: 0.9;
$horzMARGIN: $bleed;
$vertMARGIN: fib(11);

.header{
	z-index: index($z-of, header);
	@include fixed(0);
	height: 100%;
}

.mainContent{
	z-index: index($z-of, mainContent);
	@include parallaxContainer();
	// perspective-origin: center center;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: (-$vertMARGIN) (-$horzMARGIN);
	padding: ($vertMARGIN - $horzMARGIN)  0;
	@include fixed(0);
	transform-origin: $horzMARGIN center;
}

#mainNav--opener{
	z-index: index($z-of, mainNav--opener);
	@include fixed(0 null null 0);
	&:checked {
		~ .mainContent--active{
			transform: translateX($drawerWIDTH) scale($mainContentSCALE);
		}
	}
	&:not(:checked){
		~ .mainNav{
			display: none;
		}
	}
}

.mainNav{
	display: flex;
	flex-direction: column;
	z-index: index($z-of, mainNav);
	@include absolute(0);
	width: $mainNavWIDTH;
	&__menu{
		flex-grow: 1;
		overflow: hidden;
		height: 100%;
		> ul{
			margin-right: (-$horzMARGIN);
			padding-right: $horzMARGIN;
			overflow-y: scroll;
			overflow-x: hidden;
			height: 100%;
		}
	}
}

.postList{
	padding-right: $horzMARGIN;
	&Wrapper{
		@include fixed(0);
		overflow-y: scroll;
		overflow-x: hidden;
		margin-right: (-$horzMARGIN);
		padding-right: 100% - $drawerWIDTH;
		@include parallaxContainer();
		perspective-origin: calc( #{($drawerWIDTH / 2)} + #{($mainNavWIDTH / 2)} );
	}
	&--aside{
		z-index: index($z-of, postList--header);
		// width: 100%;
		padding-left: $mainNavWIDTH;
		// padding-right: $horzMARGIN;
	}
}

.post{
	margin-bottom: 60px;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	color: white;
	position: relative;
}
