// typography.scss

@mixin metaTYPOGRAPHY () {
	font-size: fib(6.5);
	text-transform: uppercase;
	font-weight: 600;
	line-height: fib(7);
	letter-spacing: normal;
	word-spacing: normal;
}

@mixin bodyTYPOGRAPHY () {
	font-size: fib(7);
	font-weight: 300;
	line-height: fib(7.5);
	letter-spacing: normal;
	word-spacing: normal;
}
@mixin bodyVertMARGINS () {
	margin-top: fib(7.5);
	margin-bottom: fib(6);
}

html, body{
	font-size: fib(7);
}

p{
	@include bodyTYPOGRAPHY;
	@include bodyVertMARGINS;
	margin-top: fib(7.5);
	margin-bottom: fib(6);
}
