@import (reference) '../../style/utils/all.util.less';
@import (reference) '../../style/vars/sizes.vars.less';
@import (reference) '../../style/vars/typography.vars.less';
@import (reference) './root.media-queries.less';

// STATES //
// .state-post | .state-list | .state-menu
// .was-state-post | .was-state-list | .was-state-menu
// .state-not-mobile | .state-mobile // @media @state-not-mobile{} | @media @state-mobile{}

@leftColumn_MinWidth: (@s8 * 24);
@rightColumn_MinWidth: (@s8 * 6);
@column_Size: @leftColumn_MinWidth;
@unfocusedColumn_Opacity: 0.4;

:host{
	height: 100%;
	width:  100%;
	position: relative;
	overflow: hidden;
	display: grid;
}
.menu{
	overflow: auto;
	grid-column: 1;
	z-index: 2;
}
.list{
	overflow: auto;
	z-index: 1;
}
.post{
	overflow: auto;
	z-index: 3;
}
.menu-button{
	.absolute(0 null null 0);
	margin: @s16;
	z-index: 4;
}


// MOBILE //
@media @state-mobile{
	:host{
		grid-template-columns: @column_Size 1fr;
	}
	.menu{}
	.list,
	.post
	{
		height: 100%;
		width: 100%;
		.absolute(0);
		.transition(transform opacity);
	}
	.post{}
	.list{}

	.primary_Open(){}
	.primary_Closed(){
		transform: translateX(@column_Size);
		opacity: 0;
		z-index: 0;
		// display: none;
	}

	:host(.state-menu){
		.list,
		.post
		{
			.primary_Closed();
		}
	}
	:host(.state-menu.was-state-list) .list,
	:host(.state-menu.was-state-post) .post,
	{
		opacity: @unfocusedColumn_Opacity;
	}


	:host(.state-list) {
		.list{
			.primary_Open();
		}
		.post{
			.primary_Closed();
		}
	}
	:host(.state-post){
		.post{
			.primary_Open();
		}
		.list{
			.primary_Closed();
		}
	}


	:host(.state-post),
	:host(.state-list)
	{
		.menu{
			display: none;
		}
	}
}





// NOT MOBILE //
@media @state-not-mobile{
	:host{
		grid-template-columns:
			minmax(@leftColumn_MinWidth, 1fr)
			minmax(0px, @centerColumn_MaxWidth)
			minmax(@rightColumn_MinWidth, 1fr);
	}
	.menu{}
	.list{
		grid-column: 2;
	}
	.post{
		height: 100%;
		width: 100%;

		.absolute(0);
		.transition(transform opacity);
		// grid-column: 3;
	}

	:host(.state-post){
		.post{
			transform: translateX(0);
		}
		.menu, .list{
			display: none;
		}
	}

}


:host(.state-menu),
:host(.state-list)
{
	.post{
		@threeColumn_MinWidth: (@leftColumn_MinWidth + @centerColumn_MaxWidth + @rightColumn_MinWidth);
		@threeColumn_MaxWidth: (max(@leftColumn_MinWidth, @rightColumn_MinWidth) * 2 + @centerColumn_MaxWidth);

		@media @state-not-mobile{
			opacity: @unfocusedColumn_Opacity;
		}

		@media screen and (min-width: @mobilePlusOne_Breakpoint) and (max-width: @threeColumn_MinWidth)  {
			transform: translateX(calc( ~'100% - @{rightColumn_MinWidth}' ));
		}

		@media screen and (min-width: (@threeColumn_MinWidth + 1)) and (max-width: @threeColumn_MaxWidth) {
			transform: translateX((@leftColumn_MinWidth + @centerColumn_MaxWidth));
		}

		@media screen and (min-width: (@threeColumn_MaxWidth + 1)) {
			transform: translateX(calc( ~'((100% - @{centerColumn_MaxWidth}) / 2) + @{centerColumn_MaxWidth}' ));
		}
	}
}

