@import (reference) '../../style/utils/position.util.less';
@import (reference) '../../style/vars/sizes.vars.less';

@column_Size: 300px;

:host{
	height: 100%;
	width:  100%;
	display: grid;
	grid-template-columns: @column_Size auto @column_Size;
	position: relative;
}

.menu{
	grid-column: 1;
	grid-row: 1;
	overflow: auto;
	z-index: 2;
}

.post-list{
	grid-column: 2;
	grid-row: 1;
	overflow: auto;
	z-index: 1;
}

.current-post{
	// grid-column: ~'1 / span 3';
	// grid-row: 1;
	overflow: auto;
	background: white;
	z-index: 3;
	.absolute(null null null 100%);
	width: 100%;
	height: 100%;

	transition: transform .5s ease;
	transform: translateX(-100%);
	:host(.menu-open) &{
		transform: translateX(-@column_Size);
	}

}

.menu-button{
	.absolute(0 null null 0);
	z-index: 4;
	margin: @s17;
}
