@import (reference) '../../style/utils/all.util.less';
@import (reference) '../../style/vars/sizes.vars.less';
@import (reference) '../../style/vars/typography.vars.less';
@import (reference) './root.media-queries.less';

@column_Size: @s23*10;


// not mobile
	// post state
	// menu/list state
// mobile
	// menu state
	// post state
	// list state


:host{
	height: 100%;
	width:  100%;
	position: relative;
	overflow: hidden;
	display: grid;
}


// MENU //
.menu{
	overflow: auto;
	z-index: 2;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	&:after, &:before{
		content: '';
		z-index: -1;
	}
	&:after{
		.absolute(0 @s1*2 0 0);
		background-color: var(--bgOverlay0_Color);
	}
	&:before{
		.absolute(0 0 0 null);
		background-color: var(--bgOverlay2_Color);
		width: @s1;
	}

}
.menu-logo{
	margin: @horizontal_PaddingLg*2 @horizontal_PaddingLg @vertical_Padding;
}
.menu-title{
	margin: @vertical_Padding @horizontal_PaddingLg;
	.body_Type();
}
.menu-nav{
	margin: @s35*2 0 ;
}


// LIST //
.post-list{
	overflow: auto;
	padding: @s35*3 @horizontal_PaddingLg;
	z-index: 1;
}
.post-list-header{
	margin: @s35 @horizontal_PaddingMd;
}
.post-list-title{
	.heading2_Type();
}
.post-list-nav{}
.post-list-nav-label{
	// margin: 0 @s9;
	align-self: center;
}
.load-more-button{
	display: flex;
	.meta_Type();
	padding: @s11 @s23;
	margin: @s35 auto;
}
.post-list-item{
	margin: @s23 0;
}
.post-list-search-button{
	display: flex;
	align-items: center;
}
.post-list-search{
	.absolute(0);
	top: @s5;
}
.seach-open .nav-item{
	opacity: 0;
}
.flex-splitter{
	flex: 1 1 auto;
}

// POST //
.current-post{
	z-index: 3;
	overflow: auto;
}

// MENU BUTTON //
.menu-button{
	.absolute(0 null null 0);
	z-index: 4;
	margin: @s17;
}



// PRIMARY VIEW //
.primaryView(){
	height: 100%;
	width: 100%;
	.absolute(null null null 100%);
	.transition(transform opacity);
	// transform: translateX(-100%);
}
.primaryView_MobileOpen(){

}
.primaryView_MobileClosed(){
	transform: translateX(90%);
	opacity: 0;
}



// MEDIA QUERIES //
:host{
	@media @state-mobile{
		grid-template-columns: @column_Size 1fr;
	}
	@media @state-not-mobile{
		grid-template-columns: @column_Size 1fr @column_Size;
	}
}
.menu{
	grid-column: 1;
	@media @state-mobile{}
	@media @state-not-mobile{}
}
.post-list{
	@media @state-mobile{
		.primaryView();
		.absolute(0);
	}
	@media @state-not-mobile{
		grid-column: 2;
	}
}
.current-post{
	.primaryView();
	@media @state-mobile{
		.absolute(0);
	}
	@media @state-not-mobile{
		// grid-column: 3;
	}
}


// STATES //
// .state-post | .state-list | .state-menu //
// .state-not-mobile | .state-mobile // @media @state-not-mobile{} | @media @state-mobile{} //
:host(.state-menu),
:host(.state-list)
{
	@media @state-not-mobile{
		.current-post{
			transform: translateX(-@column_Size);
			opacity: var(--disabled_Opacity);
		}
	}
}
:host(.state-menu){
	@media @state-mobile{
		.post-list, .current-post{
			.primaryView_MobileClosed();
		 }
	}
}
:host(.state-list){
	@media @state-mobile{
		.post-list{
			.primaryView_MobileOpen();
		}
		.current-post{
			.primaryView_MobileClosed();
		}
	}
}
:host(.state-post){
	@media @state-mobile{
		.current-post{
			.primaryView_MobileOpen();
		}
		.post-list{
			.primaryView_MobileClosed();
		 }
	}
	@media @state-not-mobile{
		.current-post{
			transform: translateX(-100%);
		}
		.menu, .post-list{
			display: none;
		}
	}
}
:host(.state-post),
:host(.state-list)
{
	@media @state-mobile{
		.menu{
			display: none;
		}
	}
}
