<ngwp-icon-defs></ngwp-icon-defs>

<header class="menu">
	<ngwp-logo class="menu-logo" routerLink="/"></ngwp-logo>
	<h1 class="menu-title" routerLink="/">{{blogName}}</h1>
	<nav class="menu-nav nav right">
		<button
			*ngFor="let item of menu"
			[ngClass]="item.classes"
			[routerLink]="item.url | urlPathname"
			routerLinkActive="selected"
			class="nav-item"
			>
				{{item.title}}
			<div class="selection-bar"></div>
		</button>
	</nav>
</header>

<ngwp-scroll-viewer #listScrollViewer class="list" >
	<div class="list-wrapper" *ngIf="viewModelService.postList$ | async as postList">

		<div class="list-header">
			<h1 class="list-title">{{ postList.title }}</h1>
			<!--
				<small class="list-type">{{ postList.type }}</small>
				<span class="list-page-number">page {{postList.currentListPageNumber}}</span>
			-->
			<nav class="list-nav nav top" [ngClass]="{'seach-open':topSearch.isOpen}">
				<button
					*ngFor="let item of menu"
					[ngClass]="item.classes"
					[routerLink]="item.url | urlPathname"
					routerLinkActive="selected"
					class="nav-item"
					>
						{{item.title}}
					<div class="selection-bar"></div>
				</button>
				<div class="flex-splitter"></div>
				<button class="nav-item list-search-button" (click)="topSearch.open()">
					<span>search</span>
					<ngwp-icon class="icon-right" name="icon_Search"></ngwp-icon>
				</button>
				<ngwp-search #topSearch class="list-search"></ngwp-search>
			</nav>
		</div>

		<ngwp-post class="list-item" *ngFor="let post of postList.currentList" [post]="post"></ngwp-post>

		<button class="load-more-button emhasis" (click)="viewModelService.loadMorePosts()" *ngIf="postList.canLoadMorePages">
			<span>Load More</span>
			<ngwp-icon class="icon-right" name="icon_Pointer_Down"></ngwp-icon>
		</button>

		<div class="list-header">
			<nav class="list-nav nav top" *ngIf="postList.currentListPageCount > 1" [ngClass]="{'seach-open':bottomSearch.isOpen}">
				<label class="list-nav-label nav-item" >go to page</label>
				<button
					class="nav-item"
					*ngFor="let count of postList.currentListPageCount | numberToArray; let i = index"
					[routerLink]="postList.currentListRouterPrefix + '/page/' + (i+1)"
					routerLinkActive="selected"
					>
					{{i+1}}
					<div class="selection-bar"></div>
				</button>
				<div class="flex-splitter"></div>
				<button class="nav-item list-search-button" (click)="bottomSearch.open()">
					<span>search</span>
					<ngwp-icon class="icon-right" name="icon_Search"></ngwp-icon>
				</button>
				<ngwp-search #bottomSearch class="list-search"></ngwp-search>
			</nav>
		</div>

	</div>
</ngwp-scroll-viewer>

<ngwp-scroll-viewer #postScrollViewer class="post" >
	<div class="post-wrapper" *ngIf="viewModelService.post$ | async as post">
		<ngwp-post [post]="post.currentPost" [displayFull]="true" ></ngwp-post>
		<div class="adjcent-post-list-wrapper" *ngIf="post.currentPost?.adjcentPosts as adjcentPosts">
			<nav class="adjcent-post-list">
				<!--
					<h3 class="adjcent-post-title">Previous:</h3>
					<ngwp-post class="list-item" [post]="adjcentPosts.previous"></ngwp-post>
				-->
				<h3 class="adjcent-post-title">Next:</h3>
				<ngwp-post class="list-item" [post]="adjcentPosts.next"></ngwp-post>
			</nav>
		</div>
		<footer class="post-footer nav">
			<button
				class="nav-item"
				>
				contact
				<div class="selection-bar"></div>
			</button>
			<button
				class="nav-item"
				>
				about
				<div class="selection-bar"></div>
			</button>
			<p>
				copyright 2018 james bradford
			</p>
		</footer>
	</div>
</ngwp-scroll-viewer>

<button
	class="menu-button button--round {{buttonClass}}"
	(click)="menuButtonClick()"
	>
	<ngwp-icon [name]="menuButtonIcon()"></ngwp-icon>
</button>

<div style="display:none">
	<!-- this must be here to get router events -->
	<router-outlet></router-outlet>
</div>
