<ngwp-icon-defs></ngwp-icon-defs>

<header class="menu">
	<ngwp-logo class="menu-logo" routerLink="/"></ngwp-logo>
	<h1 class="menu-title" routerLink="/">{{blogName}}</h1>
	<nav class="menu-nav nav right">
		<button
			*ngFor="let item of menu"
			[ngClass]="item.classes"
			[routerLink]="item.url | urlPathname"
			routerLinkActive="selected"
			class="nav-item"
			>
				{{item.title}}
			<div class="selection-bar"></div>
		</button>
	</nav>
</header>

<section class="post-list" *ngIf="viewModelService.postList$ | async as postList">

	<div class="post-list-header">
		<h1 class="post-list-title">{{ postList.title }}</h1>
		<!--
			<small class="post-list-type">{{ postList.type }}</small>
			<span class="post-list-page-number">page {{postList.currentListPageNumber}}</span>
		-->
		<nav class="post-list-nav nav top" [ngClass]="{'seach-open':topSearch.isOpen}">
			<button
				*ngFor="let item of menu"
				[ngClass]="item.classes"
				[routerLink]="item.url | urlPathname"
				routerLinkActive="selected"
				class="nav-item"
				>
					{{item.title}}
				<div class="selection-bar"></div>
			</button>
			<div class="flex-splitter"></div>
			<button class="nav-item post-list-search-button" (click)="topSearch.open()">
				<span>search</span>
				<ngwp-icon class="icon-right" name="icon_Search"></ngwp-icon>
			</button>
			<ngwp-search #topSearch class="post-list-search"></ngwp-search>
		</nav>
	</div>

	<ngwp-post class="post-list-item" *ngFor="let post of postList.currentList" [post]="post"></ngwp-post>

	<button class="load-more-button emhasis" (click)="viewModelService.loadMorePosts()" *ngIf="postList.canLoadMorePages">
		<span>Load More</span>
		<ngwp-icon class="icon-right" name="icon_Pointer_Down"></ngwp-icon>
	</button>

	<div class="post-list-header">
		<nav class="post-list-nav nav top" *ngIf="postList.currentListPageCount > 1" [ngClass]="{'seach-open':bottomSearch.isOpen}">
			<label class="post-list-nav-label nav-item" >go to page</label>
			<button
				class="nav-item"
				*ngFor="let count of postList.currentListPageCount | numberToArray; let i = index"
				[routerLink]="postList.currentListRouterPrefix + '/page/' + (i+1)"
				routerLinkActive="selected"
				[queryParams]="postList.currentListQueryParams"
				>
				{{i+1}}
				<div class="selection-bar"></div>
			</button>
			<div class="flex-splitter"></div>
			<button class="nav-item post-list-search-button" (click)="bottomSearch.open()">
				<span>search</span>
				<ngwp-icon class="icon-right" name="icon_Search"></ngwp-icon>
			</button>
			<ngwp-search #bottomSearch class="post-list-search"></ngwp-search>
		</nav>
	</div>

</section>

<main class="current-post">
	<ngwp-post *ngIf="viewModelService.post$ | async as post" [post]="post.currentPost" [showFull]="true"></ngwp-post>
</main>

<button class="menu-button button--round light-color-theme" (click)="toggleMenu($event)">
	<ngwp-icon name="icon_Menu"></ngwp-icon>
</button>


<div style="display:none">
	<!-- this must be here to get router events -->
	<router-outlet></router-outlet>
</div>
