<ngwp-icon-defs></ngwp-icon-defs>

<header class="menu">
	<ngwp-logo class="menu-logo" routerLink="/"></ngwp-logo>
	<h1 class="menu-title" routerLink="/">{{blogName}}</h1>
	<ngwp-nav class="menu-nav right" [items]="menu"></ngwp-nav>
</header>

<section class="post-list" *ngIf="viewModelService.postList$ | async as postList">

	<small>{{ postList.type }}</small>
	<h1>{{ postList.title }}</h1>
	<span>page {{postList.currentListPageNumber}}</span>
	<ngwp-search></ngwp-search>

	<ngwp-post class="post-list-item" *ngFor="let post of postList.currentList" [post]="post"></ngwp-post>

	<p>
		<button (click)="viewModelService.loadMorePosts()" *ngIf="postList.canLoadMorePages">
			load more
		</button>
	</p>

	<ngwp-search></ngwp-search>

	<nav *ngIf="postList.currentListPageCount > 1">
		<strong>go to page:</strong>
		<ul>
			<li *ngFor="let count of postList.currentListPageCount | numberToArray; let i = index" [routerLink]="postList.currentListRouterPrefix + '/page/' + (i+1)"
			 [queryParams]="postList.currentListQueryParams">
				{{i+1}}
			</li>
		</ul>
	</nav>

</section>

<main class="current-post light-color-theme">
	<ngwp-post *ngIf="viewModelService.post$ | async as post" [post]="post.currentPost" [showFull]="true"></ngwp-post>
</main>

<button class="menu-button light-color-theme" (click)="toggleMenu($event)">
	<ngwp-icon name="icon_Menu"></ngwp-icon>
</button>


<div style="display:none">
	<!-- this must be here to get router events -->
	<router-outlet></router-outlet>
</div>
